@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Open+Sans:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
.home-grid {
    padding-top: 100px;
}
#hero-msg {
    padding-bottom: 50px;
    border-bottom: 2px solid #0d94d224;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #a0a044;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
}
body {
    background-color: #84cbec;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
.book {
    background-color: rgba(5, 39, 103, 0.996);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: rgba(5, 39, 103, 0.996);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: black;
    color: #a0a044;
    text-decoration: underline;
}
.join:hover {
    background-color: black;
    color: #a0a044;
    text-decoration: underline;
}
.msg {
    background-color: rgba(255, 217, 0, 0.909);
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: rgba(20,30,13, .7);
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}
.home-title {
    color: aliceblue;
    font-family: 'Aboreto', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}    
h4 {
    color: rgb(22, 6, 6);
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.msg h2 {
    color: black;
    font-family: 'Aboreto', Arial, sans-serif;
}
.msg p {
    color: black;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #a0a044;
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.river-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid aliceblue;
}
main section img {
    box-sizing: border-box;
}